* {
    border: none;
    border-radius: 10px;
    font-family: Mononoki Nerd Font;
    font-size: 15px;
    min-height: 0;
    transition-property: background-color;
    transition-duration: .7s;
    color: #dfbf8e;
}

#waybar {
    background-color: #282a36;
    border-radius: 0px 0px 10px 10px;
}

#workspaces {
    margin: 5px;
}

#workspaces button {
    margin: 0px 5px;
    background-color: #44475a;
}

#workspaces button:hover {
    background: #44475a;
}

#workspaces button.focused {
    background-color: #6272a4;
}

#workspaces button.urgent {
    background-color: #ff5555;
}

#clock,
#battery,
#cpu,
#disk,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#date,
#bluetooth,
#language {
    padding: 0 12px;
    margin: 2px 2px;
    background-color: #44475a;
}
